<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Ex00: Markdown Cheatsheet</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 40px;
            }
            code {
                background-color: #f9f9f9;
                border: 1px solid #d1d1d1;
                padding: 2px 6px;
            }
        </style>
    </head>
    <body>
        <h1>Ex00: Markdown Cheatsheet</h1>
        <p>This cheatsheet provides a basic overview of Markdown syntax:</p>

        <h2>Headers</h2>
        <code># This is an &lt;h1&gt; tag</code><br />
        <code>## This is an &lt;h2&gt; tag</code><br />
        <code>###### This is an &lt;h6&gt; tag</code>

        <h2>Emphasis</h2>
        <code>*This text will be italic*</code><br />
        <code>**This text will be bold**</code><br />
        <code>_You **can** combine them_</code>

        <h2>Lists</h2>
        <h3>Unordered</h3>
        <code>* Item 1</code><br />
        <code>* Item 2</code><br />
        <code> * Item 2a</code><br />
        <code> * Item 2b</code>

        <h3>Ordered</h3>
        <code>1. Item 1</code><br />
        <code>2. Item 2</code><br />
        <code>3. Item 3</code><br />
        <code> 1. Item 3a</code><br />
        <code> 2. Item 3b</code>

        <h2>Links</h2>
        <code>[Visit GitHub!](http://github.com)</code>

        <h2>Images</h2>
        <code>![GitHub Logo](/images/logo.png)</code><br />
        <code>Format: ![Alt Text](url)</code>

        <h2>Blockquotes</h2>
        <code>&gt; This is a blockquote.</code>

        <h2>Inline code</h2>
        <code>`This is inline code`</code>

        <h2>Code Blocks</h2>
        <code
            >```<br />
            This is a code block<br />
            ```</code
        >

        <h2>Tables</h2>
        <code>| Heading | Heading |</code><br />
        <code>| --- | --- |</code><br />
        <code>| Data | Data |</code><br />
        <code>| Data | Data |</code>

        <p>
            For more details, visit the
            <a href="https://www.markdownguide.org/cheat-sheet/"
                >Markdown Guide</a
            >.
        </p>
    </body>
</html>
